body{
	font-size: 18px;
	background-color: lightblue;
}
#container{
	background-color: yellow;
	margin:10%;
	padding: 1%;
}
#inputs{
	padding: 15%;
	padding-bottom: 2%;
	padding-top: 2%;
}
input{
	margin-bottom: 2%;
	margin-top: 2%;
}
button{
	width: 70px;
	height: 40px;
}
#type{
  text-align: center;
	background-color: white;
	color: green;
}
@media only screen and (min-width:700px){
	body{
    font-size: 24px;
	};
	#container{
    margin:1%;
	}
	#inputs{
		margin: 5%;
	};
	#enter{
		margin-top: 10%
	}
};
